.title {
  text-align: center;
  color: var(--pink);
  font-size: 2.5rem;
}

.container {
  margin-top: 2rem;
}

.select {
  padding: 0.5rem 4rem;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-color: var(--yellow);
  border-width: 2px;
  border-radius: 5px;
  background-color: transparent;
}

.container {
  margin: auto;
  max-width: 800px;
  padding-top: 32px;
}

.intro {
  margin: 2rem 0;
  font-size: 1.35rem;
  text-align: center;
  gap: 1rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selection {
  margin: 2rem 1rem;
  font-size: 1.05rem;
  text-align: center;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 9 / 16;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: var(--pink);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.25rem 1rem 0;
  font-size: 1.1rem;
  position: absolute;
  top: 0;
  right: 0;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
