:root {
  /** Palette */
  --white: #ffffff;
  --black: #1e1e1e;
  --blue: #83b3c9;
  --pink: #f14993;
  --yellow: #f9b038;
  --green: #99c46b;
  --grey: #27363d;

  /** Colors */
  --background: var(--white);
  --foreground: var(--black);

  @media (prefers-color-scheme: dark) {
    --background: var(--black);
    --foreground: var(--white);
  }
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  position: relative;
}
