.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 32px 15px 0;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--blue);
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.subtitle {
  font-size: 2rem;
  font-weight: bold;
  color: var(--yellow);
}

.logo {
  width: 65%;
  max-width: 400px;
  margin-bottom: 1rem;
}

.actionsBar {
  width: 65%;
  max-width: 400px;
}

.bottomBar {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
}

.optionalBar {
  position: absolute;
  bottom: -27px;
  width: 100%;
  display: flex;
  justify-content: center;
}
