.title {
  text-align: center;
  color: var(--blue);
  font-size: 2.5rem;
}

.container {
  margin: auto;
  max-width: 800px;
  padding-top: 32px;
}

.section,
.intro {
  margin: 2rem 0;
  font-size: 1.35rem;
  text-align: center;
  gap: 1rem;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.strong,
.strongAlt {
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--pink);
}

.strongAlt {
  color: var(--yellow);
}

.image {
  margin: auto;
}

.buildingContainer {
  position: relative;
}

.marker {
  position: absolute;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mapView {
  overflow: hidden;
  max-height: 50%;
}

.mapView svg {
  width: 200%;
  max-width: unset;
  transform: translateX(-50%);
}

.text {
  margin-bottom: 1rem;
}
